<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/index.css"/>
        <script src="/static/js/lib/jquery.min.js"></script>
        <script src="/static/js/lib/underscore.min.js"></script>
        <!--<script src="/static/js/lib/pixi.min.js"></script>-->
        <!--<script src="/static/js/common/processing.min.js"></script>-->

        <script src="/static/js/lib/patterns.js"></script>

        <!--<script src="/static/js/marbles/models.js"></script>-->
        <!--<script src="/static/js/marbles/views.js"></script>-->
        <script src="/static/js/epicycles.js"></script>
        <title>epicycles</title>
    </head>
    <body>
        <canvas id="art-canvas" width=400 height=400></canvas>
        <!--<ul>-->
        <!--    <li>-->
                <!--<input id="x-checkbox" type="checkbox" />-->
                <!--<label id="x-checkbox-label">X</label>-->
        <!--    </li>-->
        <!--</ul>-->
    </body>
</html>