<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/index.css"/>
        <title>jordanemedlock</title>
    </head>
    <body>
        <h1>
            jordanemedlock
        </h1>
        <h2>
            <a href="/kaleidoscope">kaleidoscope</a>
        </h2>
        <h2>
            <a href="/cyclic_art">cyclic_art</a>
        </h2>
        <h2>
            <a href="/epicycles">epicycles</a>
        </h2>
        <h2>
            <a href="/cellular_automita">cellular_automita</a>
        </h2>
    </body>
</html>